{% extends 'Pedidos/menu.html' %}

{%block principal%}
{% load crispy_forms_tags %}
{% load static %}

<!-- NUEVO -->
<div id="Nuevo">
    <div class="modal-dialog modal-lg modal-dialog-centered">|
        <div class="modal-content">
            <form id="frmPedido" autocomplete="off">
                <div class="modal-header">						
                    <h4 class="modal-title">{{msg}}</h4>
                </div>
                
                <div class="modal-body">
                    
                    {% csrf_token %}
                    {{formPedido | crispy}}

                    <button id="btnNuevoItem" type="button" class=" btn btn-outline-success" title="Enter">Nuevo Item</button>
                    
                    <!-- Grilla Para Cargar Los Pedidos -->
                    <table id="tblPedido" class="table-sm table-responsive table-hover">
                        <thead class=" table-dark bg-secondary">
                            <tr>
                                <th class="text-center" scope="col"> </th>
                                <th class="text-ceter" scope="col">Tipo De Cerveza</th>
                                <th class="text-center" scope="col">Cantidad</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="text-center">
                                    <a href="#" data-toggle="modal">
                                        <i class="material-icons text-danger btnBorrar" data-toggle="tooltip" title="Borrar">
                                            &#xE872;
                                        </i>
                                    </a>
                                </td>
                                
                                <td class="valores">
                                    <input type="text" id="prod" placeholder="Tipo De Cerveza">
                                </td>

                                <td class="valores">
                                    <input type="text" id="cant" placeholder="Cantidad">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                
                </div>
                <div class="modal-footer">
                    <!--EL BOTON DE ACEPTAR SE DEBE CAMBIAR A SUBMIT CUANDO SE IMPLEMENTE-->
                    <!-- <input onclick="guardar()" id="btnGuardar" type="button" class="btn btn-success" value="Guardar" title="CTRL+G"> -->
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancelar">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- FIN NUEVO HTML -->
{%endblock%}

{% block jquery %}

<!-- <script src="{% static 'Pedidos/js/grPedidos.js' %}"></script> -->
<script>
    const usuario = $('#id_usuario');
    const proveedor = $('#id_proveedor');
    const csrf = $('[name="csrfmiddlewaretoken"]');
    const url ="";

    form.addEventListener('submit', e=>{
        e.preventDefault();
        
    });

</script>
{% endblock jquery %}