{% extends 'Pedidos/menu.html' %}


{% block principal %}
    <!-- Listado De Pedidos -->
    <div class="container-fluid my-3 center p-2">
            
        <!-- Encabezado De la Grilla -->
        <div class="row border border-light">
            <span class="col-6 h3 m-2">Pedidos</span>

            <a class="btn btn-success ml-auto mr-4 m-2" href="#selecProv" data-toggle="modal"><span>Pedido Nuevo</span></a>
        </div> <!-- Fin Encabezado De la Grilla -->
        
        {% for pedido in lstPedidos %}
            <div class="card bg-light mb-4 mt-3">
                <div class="container">
                    <div class="row">
                        <div class="card-header col-md-6">
                            <h5 class="card-title">{{pedido.proveedor}}</h5>
                            <span class="mr-3"> <b>Pedido:</b> {{pedido.id}}</span>
                            <span class="mr-3"> <b>Fecha: </b> {{pedido.fecha}}</span>
                            <span class="mr-3"> <b>Usuario: </b> {{pedido.usuario}}</span>
                        </div>
                        
                        {% if pedido.entregado %}
                            <div class="card-header col-md-6">
                                <div class="alert alert-success text-center">
                                    Pedido Entregado
                                </div>
                            </div>
                        {% else %}
                            <div class="card-header col-md-6">
                                <div class="alert alert-warning text-center">
                                    Pedido <b>Pendiente</b>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <table id="tblPedidos" class="table-sm table-responsive table-hover">
                                <thead class="table-dark bg-secondary">
                                    <tr>
                                        <th class="text-center" scope="col"><span class="mr-4">Tipo De Cerbeza</span></th>
                                        <th class="text-center" scope="col"><span class="mr-4">Cantidad</span></th>
                                        <th class="text-center" scope="col"><span class="mr-4">Entregado</span></th>
                                        <th class="text-center" scope="col"><span class="mr-4">Pendiente</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {% for linea in pedido.lineapedido_set.all %}
                                        <tr>
                                            <td> {{linea}} </td><!--Tipo Cerveza-->
                                            <td class="text-center"> {{linea.cantidad}} </td><!--Cantidad-->
                                            <td class="text-center"> {{linea.entregado}} </td><!--Entregado-->
                                            <td class="text-center"> {{linea.pendiente}} </td><!--Pendiente-->
                                        </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                        <div class="col-6 text-center align-middle">
                            
                            {% if pedido.entregado == False %}
                                <a href="#" class="btn btn-warning mr-2">Editar Pedido</a>
                                <a href="{% url 'crearIngreso' pedido.id %}" class="btn btn-success mr-2">Ingresar Pedido</a>
                                <a href="#" class="btn btn-danger mr-2">Borrar Pedido</a>
                            {% endif %}
                                
                        </div>
                    </div>                
                </div>
            </div>
        {% endfor %}

    </div> <!-- Fin Listado De Pedidos -->

    <!-- MODAL PARA ENVIAR EL ID DEL PROVEEDOR A LA VISTA DE NUEVO PEDIDO -->
	<div id="selecProv" class="modal fade">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">

                <!-- El action de este form se asigna con jquery para pasar el 
                     id del proveedor seleccionado por get a la vista-->
				<form id="frmSelProv" action="" method="GET" autocomplete="off">
					<div class="modal-header">						
						<h4 class="modal-title">Seleccionr Proveedor</h4>
					</div>
					<div class="modal-body">					
						<select id="optIdProv" class="form-control">
                            {% for p in proveedores %}
                                <option value="{{p.id}}">{{p.nombre}}</option>
                            {% endfor %}
                        </select>
					</div>
					<div class="modal-footer">
                        <input id="btnAceptar" type="submit" class="btn btn-info" value="Aceptar">
						<input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancelar">
					</div>
				</form>

			</div>
		</div>
	</div>
{% endblock principal %}


{% block jquery %}
    <script>
        $('#btnAceptar').click(function(e){
            e.preventDefault();
            var id = $('#optIdProv').val()
            var form = $('#frmSelProv');
            form.attr('action', 'pedidoNuevo/'+id);
            form.submit();
        });
    </script>
{% endblock jquery %}
    