{% extends 'Pedidos/menu.html' %}


{% block principal %}   
<div id="tablaIngreso">
    <h4 class="modal-title text-center mt-4">Ingreso De Pedido</h4>
    
    {% if pedido.entregado %}
        no no no...
    {% else %}
        <form method="POST">
            {% csrf_token %}
            <div class="modal-body">					
                <table class="table-sm table-responsive table-hover my-2">
                    <thead class="table-dark bg-secondary">
                        <tr>
                            <th class="text-center" scope="col"># Pedido</th>
                            <th class="text-center" scope="col">Usuario</th>
                            <th class="text-center" scope="col">Fecha</th>
                            <th class="text-center" scope="col">Proveedor</th>
                            <th class="text-center" scope="col">Tipo De Cerbeza</th>
                            <th class="text-center" scope="col">Cantidad</th>
                            <th class="text-center" scope="col">Ingresa</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for linea in lineas %}
                            <tr><!--Fila 1-->
                                <td scope="row" class="text-center">{{pedido.id}}</td>
                                <td>{{pedido.usuario}}</td>
                                <td class="text-center">{{pedido.fecha}}</td>
                                <td>{{pedido.proveedor}}</td>
                                <td>{{linea.cerveza}}</td>
                                <td class="text-center cantPed">{{linea.cantidad}}</td>
                                <td class="text-center">
                                    <input name="recibido" class="form-control cantRec" type="number" min="1" required placeholder="Cantidad Recibida">
                                </td>
                            </tr>
                        {% endfor %}
                            
                        
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <!--EL BOTON DE ACEPTAR SE DEBE CAMBIAR A SUBMIT CUANDO SE IMPLEMENTE-->
                <input type="submit" class="btn btn-info" value="Aceptar">
                <a href="{% url 'Pedidos' %}" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    {% endif %}
        
</div>
{% endblock principal %}


{% block jquery %}
    <script>
/*         $(".cantRec").focusout(function(){
           $(".cantPed").each(function(){
               var pedido = $(this).text();

           }); 
        }); */
    </script>
{% endblock jquery %}