{% extends 'Pedidos/menu.html' %}

{%block principal%}
    
    <!-- Contenedor De Toda La Página -->
    <div class="container-fluid my-3 center">
        
        <!-- Encabezado De la Grilla -->
        <div class="row shadow">
            <span class="col-6 h3">Usuarios</span>

            <a id="btnNuevo" class="btn btn-success ml-auto" href="usuarioNuevo"><span>Nuevo Usuario</span></a>
        </div> <!-- Fin Encabezado De la Grilla -->

        <!-- Tabla Grilla -->
        <table class="table-sm table-responsive table-hover  my-2">
            <thead class="table-dark bg-secondary">
                <tr>
                    <th class="text-center" scope="col">#</th>
                    <th class="text-center" scope="col">Nombre</th>
                    <th class="text-center" scope="col">Administrador</th>
                    <th class="text-center" scope="col">Acciones</th>
                </tr>
            </thead>

            <tbody>
                <!--
                    En el cuerpo de la tabla itero sobre todos los usuarios en el objeto "listUsuarios"
                    y por cada uno creo una fila con sus campos
                -->
                {%for usuario in listUsuarios%}
                    <tr>
                        <td scope="row"> {{usuario.id}} </td>
                        <td class="nombreUsuario"> {{usuario.username}} </td>
                        <td class=" text-center font-weight-bold">
                            {%if usuario.is_superuser%}
                                SI
                            {%endif%}
                        </td>

                        <td class="text-center">
                            
                            <!-- Boton para editar
                                En el href le paso la ruta y el id del usuario para que lo reciba como parámetro
                                en el path (urls.py) por url
                            -->
                            <a href="{% url 'usuarioEditar' usuario.id %}">
                                <i class="material-icons text-warning" data-toggle="tooltip" title="Editar">&#xE254;</i>
                            </a>

                            <!--<a href="#borrar" data-toggle="modal">
                                <i class="material-icons text-danger" data-toggle="tooltip" title="Borrar">&#xE872;</i>
                            </a>-->

                            <form action="{% url 'usuarioBorrar' usuario.id %}" method="POST" class="d-inline frborrar">
                                {%csrf_token%}
                                <button type="submit" class="btn" id="borrar">
                                    <i class="material-icons text-danger" data-toggle="tooltip" title="Borrar">&#xE872;</i>
                                </button>
                            </form>

                        </td>
                    </tr>

                {%endfor%}

            </tbody>

        </table> <!-- Fein Tabla Grilla -->

    </div> <!-- Fin Contenedor De Toda La Página -->

	<!---------------------------------------------- Delete Modal HTML ---------------------------------------------->
    
    <div id="borrar" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="frmodal" action="">
                    <div class="modal-header bg-warning">						
                        <h4 class="modal-title"><strong>Borrar</strong> {{usr.username}}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <p>¿Estás Seguro De Borrar A Este Usuario?</p>
                        <p class="text-danger"><meduim>Esta acción no se puede revertir</meduim></p>
                    </div>
                    <div class="modal-footer">
                        
                        <input type="submit" class="btn btn-primary" value="Aceptar">
                        <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancelar">
                    </div>
                </form>
            </div>
        </div>
    </div>




{% endblock %}

{%block jquery%}
    <script>
        
        $(document).ready(function(){
            /*
            //Selecciono el formulario y evito que se haga el envío (submit)
            $(".frborrar").submit(function(e){
                e.preventDefault(e);

                //Obtengo la ruta de cada form ("usuarioBorrar/ID")
                var ruta = $(this).attr('action');
                //alert(ruta);

                // En esta variable guardo el valor de un alert de confirmación
                var confirmar = confirm("TA' SEGURO VO?\n" + ruta);

                // Si el confirm devuelve "true", de decir se presiona "ok", me lleva a la
                // ruta del form.
                if (confirmar == true) {
                    window.location.href = ruta;
                }
                
            });
            */

            //Lo mismo que arriba pero con un alert mas lindo...
            $(".frborrar").submit(function(e){
                e.preventDefault(e);
                var ruta = $(this).attr('action');

                //Acá uso el plugin "JQUERY-CONFIRM"
                $.confirm({
                    theme: 'bootstrap',
                    title: 'BORRAR USUARIO!',
                    content: 'Esta Acción No Se Puede Revertir',
                    buttons: {
                        //Primer boton
                        danger:{
                            text:'SI',
                            btnClass:' btn-danger ',
                            action: function(){
                                window.location.href=ruta;
                            }
                        },
                        //Segundo boton
                        info:{
                            text: 'No',
                            btnClass: 'btn-info',
                            action: function(){
                                this.close();
                            }
                        }
                    }
                });
            });

        });
    </script>
{%endblock%}
