{% extends 'Pedidos/menu.html' %}

{%block principal%}
    <!-- Contenedor De Toda La Página -->
    <div class="container-fluid my-3 center">
        
        <!-- Encabezado De la Grilla -->
        <div class="row shadow">
            <span class="col-6 h3">Usuarios</span>

            <a id="btnNuevo" class="btn btn-success ml-auto" href="usuarioNuevo"><span>Nuevo Usuario</span></a>
        </div> <!-- Fin Encabezado De la Grilla -->

        <!-- Tabla Grilla -->
        <table class="table-sm table-responsive table-hover  my-2">
            <thead class="table-dark bg-secondary">
                <tr>
                    <th class="text-center" scope="col">#</th>
                    <th class="text-center" scope="col">Nombre</th>
                    <th class="text-center" scope="col">Administrador</th>
                    <th class="text-center" scope="col">Acciones</th>
                </tr>
            </thead>

            <tbody>
                <!--
                    En el cuerpo de la tabla itero sobre todos los usuarios en el objeto "listUsuarios"
                    y por cada uno creo una fila con sus campos
                -->
                {%for usuario in listUsuarios%}
                    <tr><!--Fila 1-->
                        <td scope="row"> {{usuario.id}} </td>
                        <td> {{usuario.username}} </td>
                        <td> {{usuario.is_superuser}} </td>
                        <td class="text-center">
                            <!--Falta agregar el id en los botones de editar y borrar-->
                            <a href="#editar"   data-toggle="modal"><i class="material-icons text-warning" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                            <a href="#borrar" data-toggle="modal"><i class="material-icons text-danger" data-toggle="tooltip" title="Borrar">&#xE872;</i></a>
                        </td>
                    </tr>
                {%endfor%}

            </tbody>

        </table> <!-- Fein Tabla Grilla -->

    </div> <!-- Fin Contenedor De Toda La Página -->

 <!-------------------------------------------------------------------------------------------------------------------------
                        Acá están las ventanas modales para Editar y Borrar
 -------------------------------------------------------------------------------------------------------------------------->


	<!----------------------------------------------- EDITAR Modal HTML ----------------------------------------------->
	<div id="editar" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Editar Datos De Usuario</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<input type="text" class="form-control" required placeholder="Nombre">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" required placeholder="Contraseña">
						</div>				
					</div>
					<div class="modal-footer">
                        <!--EL BOTON DE ACEPTAR SE DEBE CAMBIAR A SUBMIT CUANDO SE IMPLEMENTE-->
                        <input type="button" class="btn btn-info" value="Aceptar">
						<input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancelar">
					</div>
				</form>
			</div>
		</div>
	</div>

	<!---------------------------------------------- Delete Modal HTML ---------------------------------------------->
	<div id="borrar" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header bg-warning">						
						<h4 class="modal-title"><strong>Borrar</strong> Usuario</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>¿Estás Seguro De Borrar A Este Usuario?</p>
						<p class="text-danger"><meduim>Esta acción no se puede revertir</meduim></p>
					</div>
					<div class="modal-footer">
						<!--EL BOTON DE ACEPTAR SE DEBE CAMBIAR A SUBMIT CUANDO SE IMPLEMENTE-->
                        <input type="button" class="btn btn-info" value="Aceptar">
						<input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancelar">
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}

